body {
    font-family: Arial, sans-serif;
    background-color: #deeff6;
    margin: 0;
    padding: 0;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
}

.container-1, .container-2 {
    width: 600px;
    height: 550px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    font-size: 15px;
    font-weight: bold;
    padding: 12px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #277bd5;
}

#output {
    margin-top: 20px;
}

* {box-sizing: border-box;}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #7c8eec;
  padding: 5px 5px;
}

table {
    border-collapse: collapse; /* Об'єднуємо границі комірок */
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd; /* Задаємо товщину та колір границь */
    padding: 8px; /* Задаємо відступ від тексту до границь */
}

th {
    text-align: left; /* Вирівнюємо текст заголовків по лівому краю */
}